<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div><%= movies.actorname %></div>
    <div>Starred in: 
        <% for(let i=0;i< movies.actormovies.length; i++){ %>
            <a href="/movies/<%= movies.actormovies[i].movie_id %>">
                <%= movies.actormovies[i].movie_name %>
            </a> 
            <%= i< movies.actormovies.length-1?",":"" %>
        <% } %>    
    </div>
    
    
</body>
</html>