<div id="genreFormContainer">
    
    <form method="POST" action="/genres/create" id="genreForm">
        <legend>Add Genre</legend>
        <div>
            <label for="createGenre">Genre name:</label>
            <input type="text" id="createGenre" name="createGenre" required>
        
        </div>
        <div>
            <label for="createGenreMovie">Select movies:</label>
            <select onchange="addMovieToGenre(this.value)" id="createGenreMovie" 
            name="createGenreMovie" data-movie="<%= JSON.stringify(movies) %>">
                <option value="" disabled selected></option>
                <% for(let i=0;i< movies.length; i++){ %>
                    <option value="<%= movies[i].id %>">
                        <%= movies[i].name + "(" + movies[i].release_year + ")" %>
                    </option>
                <% } %>
            </select>
            <div id="selectedGenreMovie"></div>
        </div>
        <div class="buttonHolder">
            <button type="submit"  class="submitButton">Submit Genre</button>
            <button onclick="closeCreateGenre()" type="button"  class="cancelForm">Cancel</button>

        </div>

        
    </form>
</div>