<div id="deleteMovieContainer">
    <form>
        <div>
            <label for="deleteMoviePass">Enter password:</label>
            <input type="text" id="deleteMoviePass" name="deleteMoviePass" required>
            <button type="button" onclick="deletionCheck('<%= type %>')">Proceed</button>
            <button ype="button" onclick="closeDeleteMovie()">Cancel</button>
        
        </div>
        <input type="hidden" id="deleteId" value="<%= id %>">

    </form>

</div>