<div id="deleteMovieContainer">
    <form>
        <div>
            <label for="deleteMoviePass">Enter password:</label>
            <input type="text" id="deleteMoviePass" name="deleteMoviePass" required>
            <div class="deleteContainer">
                <button type="button" onclick="deletionCheck('<%= type %>')" class="submitButton">Proceed</button>
                <button ype="button" onclick="closeDeleteMovie()" class="cancelForm">Cancel</button>
            
            </div>

        
        </div>
        <input type="hidden" id="deleteId" value="<%= id %>">

    </form>

</div>