<div style="display: flex; justify-content: space-evenly;flex-wrap: wrap;">
    <% for(i=0;i< genres.length;i++){ %>

        <div>
            <a class="movieLinks" href="/genres/<%= genres[i].id %>">
                <div class="movieContainer" style="width: 205px;text-align: center;">
                    <div>

                        <%= genres[i].name %>
                    </div>

                </div>
            </a>
        </div>
    <% } %>  

</div>