<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieDB</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="/scripts.js" defer></script>
</head>
<body>
    <div class="headerContainer">
        <div class="heading"><h1>MovieDB</h1></div>
        <div class="subHeader">
            <a href="/genres">Genres</a>
            <a href="/actors">Crew</a>

        </div>
    </div>
    <%- include("movieDisplay",{movies:movies}) %>
    <div class="buttonHolder">
        <button class="addMovieButton" type="button" onclick="displayForm()">Add movie</button>
    </div>
    
    <!-- <button type="button" onclick="displayGenreForm()">Add genre</button> -->
    <!-- <button type="button" onclick="displayPersonForm()">Add actor/director</button> -->

    <%- include("createForm",{people:people,genres:genres}) %>
    <!-- <%- include("createGenreForm",{movies:movies}) %>
    <%- include("createPersonForm",{movies:movies}) %> -->

  

    
    
</body>
</html>