<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieDB</title>
</head>
<body>
    <h1>MovieDB</h1>
    <% for(i=0;i< movies.length;i++){ %>
        <div><a href="/movies/<%= movies[i].id %>"><%= movies[i].id  +") " + movies[i].name +" (" + movies[i].release_year + ")" %></a></div>
    <% } %>    

    
    
</body>
</html>