body{
    margin: 0px;
    background-color: #F5C45E;
    font-family: itcGothic;
    font-size: 18px;
}
button, .btn-reset {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}
a{
    text-decoration: none;
}

@font-face {
  font-family: encanto;
  src: url(/Madrigal-mLJ92.ttf);
}
@font-face {
  font-family: itcGothic;
  src: url(/ITC\ Avant\ Garde\ CE\ Gothic\ Demi.ttf);
}
@font-face {
  font-family: itcGothicHeading;
  src: url(/ITC\ Avant\ Garde\ CE\ Gothic\ LT\ Bold.ttf);
}

#formContainer,#genreFormContainer,#personFormContainer,
#deleteMovieContainer{
    position: fixed;
    display: none;
    z-index: 1000;
        top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: burlywood;
    padding: 40px;
    background-color: rgb(16, 46, 80);
    color: aliceblue;
    border: 8px solid #7F8C8D;
    border-radius: 8px;
    max-height: 80vh;  
    overflow-y: auto;
}

.headerContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(16, 46, 80);
    color: aliceblue;
    padding: 10px;
}
.heading{
    min-width: 350px;
    font-family: encanto;
    font-size: 24px;

}
.subHeader{
    display: flex;
    min-width: 20%;
}
.subHeader a{
    margin-right: 30px;
    text-decoration: none;
    color: aliceblue;
}
.heading h1:hover,.subHeader a:hover{
    color:#E78B48
}
.movieContainer{
    border: 8px solid #BE3D2A;
    border-radius: 8px;
    margin: 5px;
    background-color: #E78B48;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.movieContainer img{
    max-width: 100%;
}
.addMovieButton{
    background-color: rgb(16, 46, 80);
    color: aliceblue;
    min-width: 50px;
    min-height: 30px;
    font-size: 28px;
    border: 10px solid rgb(16, 46, 80);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.addMovieButton:hover{
    background-color: #BE3D2A;
    border-color:#BE3D2A ;

}

.buttonHolder{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-direction: row;
    align-items: center;
}

.movieLinks{
    color: rgb(16, 46, 80);

}


.movieContainer div{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80px;
}
.movieContainer:hover{
    background-color:rgb(16, 46, 80);
    color: aliceblue;
}


form{

    background-color: rgb(16, 46, 80);
    color: aliceblue;
    width: 260px;

}

form div{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}
form legend{
    font-size: 26px;
}

.submitButton,.cancelForm{
    width: 40%;
    height: 60px;
    border:4px solid #BE3D2A;
    border-radius: 4px;
    background-color: #E78B48;
    color: rgb(16, 46, 80);
    margin-right: 10px;
    margin-left: 10px;
}
.submitButton:hover,.cancelForm:hover{
    background-color: #BE3D2A;
    color: aliceblue;
}

#selectedDirector,#selectedActor,#selectedGenre,
#selectedGenreMovie,#selectedActorMovie,#selectedDirectorMovie{
    margin-top: 0px;
    margin-bottom: 4px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
#selectedDirector div{
    margin-top: 0px;
}
#selectedDirector div div{
    margin-top: 4px;
}
#selectedDirector div div div{ 
    margin-top: 0px;
    /* max-width: 45%; */
}
#selectedActor{
    margin-top: 0px;
}
#selectedActor div{
    margin-top: 0px;
}
#selectedActor div div{
    margin-top: 4px;
}
#selectedActor div div div{ 
    margin-top: 0px;
    /* max-width: 45%; */
}

#selectedGenre div{
    margin-top: 0px;
}
#selectedGenre div div{
    margin-top: 4px;
}
#selectedGenre div div div{ 
    margin-top: 0px;
    /* max-width: 45%; */
}
#selectedGenreMovie div{
    margin-top: 0px;
}
#selectedGenreMovie div div{
    margin-top: 4px;
}
#selectedGenreMovie div div div{ 
    margin-top: 0px;
    /* max-width: 45%; */
}
#selectedActorMovie div{
    margin-top: 0px;
}
#selectedActorMovie div div{
    margin-top: 4px;
}
#selectedActorMovie div div div{ 
    margin-top: 0px;
    /* max-width: 45%; */
}
#selectedDirectorMovie div{
    margin-top: 0px;
}
#selectedDirectorMovie div div{
    margin-top: 4px;
}
#selectedDirectorMovie div div div{ 
    margin-top: 0px;
    /* max-width: 45%; */
}
.cancelTag{
    /* max-width: 45%; */
    border-top: 2px solid#F5C45E;
    border-right: 2px solid#F5C45E;   
    border-bottom: 2px solid#F5C45E;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    padding: 5px;
    color: #E78B48;

}
.cancelTag:hover{
    background-color: #BE3D2A;
    color: aliceblue;
}
.nameTag{
    border-top: 2px solid#F5C45E;
    border-left: 2px solid#F5C45E;   
    border-bottom: 2px solid#F5C45E;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    padding: 5px;

}
.tagContainer{
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-right: 4px;
}
.deleteContainer{
    flex-direction: row;
}

.movieStructure{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.movieData{
    padding-left: 10px;
}
.movieData>div{
    padding-bottom: 10px;
    padding-top: 10px;
}

.movieTitle{
    font-size: 24px;
    font-weight: 700;
    color: #202d3a;

}
.moviePoster{
    border: 8px solid #7F8C8D;
    border-radius: 8px;
    margin-top: 20px;
}